In [2]:
import pandas as pd 
import numpy as np


df = pd.read_csv('hourly_stock_data.csv')
df.head()

,Ticker,NVDA,NVDA.1,NVDA.2,NVDA.3,NVDA.4,AAPL,AAPL.1,AAPL.2,AAPL.3,AAPL.4
0,Price,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
1,Datetime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-03 14:30:00+00:00,123.50499725341797,123.69999694824219,118.30000305175781,119.51000213623047,90292423,241.7220001220703,244.02720642089844,239.8249969482422,241.48500061035156,10137001
3,2025-03-03 15:30:00+00:00,119.51499938964844,120.19999694824219,118.51000213623047,119.22000122070312,38941419,241.5,242.6300048828125,241.12669372558594,241.19000244140625,3962348
4,2025-03-03 16:30:00+00:00,119.23999786376953,119.5,118.25,118.41000366210938,30591168,241.22999572753906,242.5500030517578,240.6649932861328,242.5399932861328,2726862